@import "../variables";

.content {
	width: 100%;
	padding: 30px 30px 90px;
	background-color: #1f252c;
}

.content__info {
	text-align: center;
}

.content__title {
	margin-bottom: 17px;
}

.content__footer {
	text-align: center;
	margin-top: 35px;
}

.content__telegram {
	margin-top: 15px;
}

.content__telegram-link {
	color: #95c93d;
}

.content__about {
	margin-top: 55px;
}

.content__about-caption {
	margin-bottom: 22px;
}

.content__about-text:not(:first-child) {
	margin-top: 15px;
}

.content__text--green {
	font-weight: bold;
	color: #95c93d;
}

.content__countries {
	margin-top: 20px;
}

.content__countries-img {
	display: inline-block;
	vertical-align: middle;
}

.content__countries-text {
	display: inline-block;
	vertical-align: middle;
}

.content__earns {
	margin-top: 65px;
}

.content__earn {
	margin-top: 20px;
}

.content__earn-caption {
	text-decoration: underline;
	color: #95c93d;
}

.content__earns-footer {
	text-align: center;
	margin-top: 50px;
}

.content__discount {
	text-align: center;
}

.content__discount-text {
	font-size: 20px;
}

.content__discount-time {
	text-decoration: underline;
}

.content__discount-title {
	margin-bottom: 30px;
}

.content__discount-footer {
	text-align: center;
	margin-top: 60px;
}

.content__aside {
	margin-top: 33px;
}

.content__hot {
	margin-top: 30px;
	text-align: center;
}

.content__hot-images {
	display: inline-block;
	vertical-align: center;
}

.content__b-block {
	margin-bottom: 40px;
}

.content__hurry {
	margin-top: 15px;
	text-align: center;
}

.content__hurry-info {
	padding-top: 10px;
	padding-right: 25px;
	display: inline-block;
}

.content__hurry-text {
	display: inline-block;
	vertical-align: top;
	max-width: 440px;
}

.content__hurry-value {
	color: $white;
}

.content__hurry-numeral {
	display: inline-block;
	color: $white;
	line-height: 25px;
	font-size: 30px;
	background-color: $green;
	border-radius: 6px;
	padding: 5px 11px;
}

.content__hurry-string {
	margin-top: 10px;
}

.content__hurry-string span {
	font-size: 21px;
}

.content__presale {
	margin-top: 35px;
	font-size: 21px;
	text-align: center;
}

.content__presale-value {
	text-decoration: underline;
	font-weight: bold;
}

.content__ico-include {
	margin-top: 50px;
	text-align: left;
}

.content__ico-title {
	font-size: 21px;
	font-weight: bold;
}

.content__ico-info {
	margin-top: 18px;
}

.content__ico-footer {
	margin-top: 23px;
}

.content__ico-item {
	display: inline-block;
	vertical-align: middle;
	height: 9px;
	width: 18px;
	background-color: $green;
}

.content__ico-text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 7px;
}

.content__special-price {
	margin-top: 67px;
	font-size: 25px;
}

.content__special-value {
	font-weight: bold;
	color: $green;
}

.content__tokens {
	margin-top: 70px;
	text-align: left;
}

.content__tokens-item {
	display: inline-block;
	vertical-align: middle;

	&:not(:last-child) {
		padding-right: 17px;
	}
}

.content__tokensbox {
	margin-top: 13px;
	text-align: center;
}

.content__tokens-growing {
	font-size: 20px;
	font-weight: bold;
}

.content__stages {
	margin-top: 69px;
}

.content__stages-info {
	margin-top: 26px;
}

.content__stages-main {
	text-align: center;
}

.content__stages-first {
	display: inline-block;
	vertical-align: top;
	max-width: 235px;
}

.content__stages-aside {
	margin-top: 34px;
}

.content__stages-second, .content__stages-last {
	display: inline-block;
	vertical-align: top;
	width: 42%;
}

.content__stages-second {
	margin-right: 10%;
}

.content__unique {
	margin-top: 90px;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
}

.content__unique-button {
	margin-top: 27px;
	text-align: center;
}

.content__unique-button {
	span {
		font-size: 21px;
		text-decoration: underline;
	}
}

.content__tokens {
	width: 600px;
}

.content__tokens-arrow {
	display: inline-block;
	vertical-align: middle;
	padding-left: 18px;
}

.content__tokens-arrow-bottom  {
	padding-top: 27px;
}