@import "variables";

body {
	background-color: $white;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: $black;
	font-size: 17px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}


p {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: $white;
	font-size: 17px;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 2rem;
}

p:last-child {
	margin-bottom: 0;
}

span {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: $white;
	font-size: 17px;
	line-height: 1.5;
}

//a {
//	color: $blue;
//
//	&:hover, &:focus {
//		text-decoration: none;
//	}
//}

img {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}
