// mobile
$screenXs: 480px;

// tablet portrait
$screenSm: 768px;

// tablet landscape
$screenMd: 992px;

// desktop
$screenLg: 1200px;

$gray: #666666;
$white: #ffffff;
$black: #000000;
$orange: #FF7F0B;
$mint: #00BD9C;
$green: #9ce323;
$red: #FF0000;
$blue: #0E48DC;
$burgundy: #C60038;
